
@{
    ViewBag.Title = "DangNhap";
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="~/images/bookicon.png">
    <title>Đăng Nhập Quản Lý</title>
    <meta charset="UTF-8" />
    <meta name="Designer" content="Book Shop">
    <meta name="Author" content="Book Shop - 065 4089">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-danger text-center">@ViewBag.Message</div>
    }

    <div class="login-container">
        <h3 class="text-center">Đăng nhập Admin</h3>
        @using (Html.BeginForm("DangNhap", "Admin", FormMethod.Post))
        {
            <div class="container">
                <div class="form-group">
                    <label for="email"><b>Email:</b></label>
                    @Html.TextBox("email", null, new { @class = "form-control", placeholder = "Nhập email" })
                    @Html.ValidationMessage("email", "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="matKhau"><b>Mật Khẩu:</b></label>
                    @Html.Password("matKhau", null, new { @class = "form-control", placeholder = "************" })
                    @Html.ValidationMessage("matKhau", "", new { @class = "text-danger" })
                </div>

                <div class="form-group text-center">
                    <span class="text-danger">@ViewBag.Thongbao</span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Đăng Nhập</button>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMe" name="remember">
                    <label class="form-check-label" for="rememberMe">Lưu phiên đăng nhập</label>
                </div>
            </div>
        }

        <div class="container text-center" style="background-color:#f1f1f1; padding:10px;">
            @*<span class="text-left"><a href="@Url.Action("Index","BookStore")">Trở lại</a></span> |*@
            <span class="text-right"><a href="#">Quên mật khẩu?</a></span>
        </div>
    </div>

    <footer class="text-center">
        <a href="">Huflit Badminton</a> | <a href="">Facebook</a>
    </footer>

</body>
</html>

